# Dépendances Node
node_modules

# Build / sortie Nuxt
.nuxt
.output
.vercel

# Env
.env
.env.local
.env.*.local

# Supabase (fichiers générés localement)
supabase/.branches
supabase/.temp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Divers
.DS_Store
Thumbs.db

